collector:
  image: bowwow/fluentd-autobuild
  container_name: collector
  environment:
    - "MONGO_HOST=mongo"
  ports:
    - "8080:8080"
  volumes:
    - .:/fluentd/etc
  links:
    - rabbitmq
    - mongo
amqp:
    image: bowwow/amqp-mongo
    container_name: amqp
    environment:
      - "AMQPHOST=amqp://rabbitmq"
      - "MONGODB=mongodb://mongo/metadata"
      - "MONGOCOLLECTION=info"
      - "TRANSLATECONTENT=true"
      - "QUEUENAME=metadata"
    links:
      - rabbitmq
      - mongo
rabbitmq:
  image: bowwow/rabbitmq-autobuild
  container_name: rabbitmq
  environment:
    - "MONGO_HOST=mongo"
  ports:
    - "5672:5672"
    - "15672:15672"
mongo:
  image: mongo
  container_name: mongo
  ports:
    - "27017:27017"
